#container-register {
    height: auto;
    width: auto;
    display: flex;
    justify-content: center;
}

/* .back{
    position: relative;
    top: -75px; 
    left: 850px;
} */

#name-register{
    position: relative;
    top: 15px; 
    left: 720px;
}

.card{
    height: 340px;
    width: 205px;
    border: 2px solid rgb(0, 0, 0);
    padding: 10px;
    margin: 10px;
}

.p-field{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: -35px;
}

#button-register{
    margin-top: 20px;
    margin-left: 50px;
}
