<h2 id="name-register">Register</h2>
<a class="back" [routerLink]="['./../login']"><i class="pi pi-times"></i></a>
<div id="container-register">
  <div class="card">
    <div class="p-field p-grid">
      <label for="name" class="p-col-fixed">Name</label>
      <div class="p-col">
        <input id="name" type="text" pInputText> 
      </div>
    </div>

    <div class="p-field p-grid">
      <label for="nickname" class="p-col-fixed" >Nickname</label>
      <div class="p-col">
        <input id="nickname" type="text" pInputText> 
      </div>
    </div>

    <div class="p-field p-grid">
      <label for="email" class="p-col-fixed" >Email</label>
      <div class="p-col">
        <input id="email" type="text" pInputText> 
      </div>
    </div>

    <div class="p-field p-grid">
      <label for="password" class="p-col-fixed" >Password</label>
      <div class="p-col">
        <input id="password" type="password" pInputText> 
      </div>
    </div>

    <button id="button-register" type="button">Register</button>
  </div>
</div>