#container-register {
    height: auto;
    width: auto;
    display: flex;
    justify-content: center;
}

#name-register{
    margin-top: 20px;
    height: auto;
    width: auto;
    display: flex;
    justify-content: center;
}

.card{
    height: 590px;
    width: 260px;
    border: 3px solid rgb(0, 0, 0);
    background-color: #0000002a;
    padding: 10px;
    margin: 20px;
}

.sizes {
    .p-inputtext {
        display: block;
        margin-bottom: .5rem;

        &:last-child {
            margin-bottom: 0;
        }
    }
}

.p-field * {
    display: block;
    position: relative;
    left: 20px;
    padding: 5px;
}

.btn, .btn-primary, .btn-block{
    position: relative;
    left: -5px;
    margin: 5px;
    background-color: var( --primary-color ) !important;
    border-color: var( --primary-color ) !important;
}