a.login {
    display: inline-block;
    width: 150px;
    text-align: center;
    line-height: 2;
    color: black;
    background: rgb(236, 118, 103);
    position: relative;
    top: -85px;
    left: 1040px;
    border: 2px solid rgb(0, 0, 0);
}

a.register {
    display: inline-block;
    width: 150px;
    text-align: center;
    line-height: 2;
    color: black;
    background: rgb(236, 118, 103);
    position: relative;
    top: -121px;
    left: 1200px;
    border: 2px solid rgb(0, 0, 0);
}