.carousel {
  max-width:1400px;
  margin:0 auto;
  figure {
    background-size: cover;
    position: relative;
    &::before{
      content:'';
      position: absolute;
      top:0;
      left: 0;
      right: 0;
      bottom:0;
      background-image: linear-gradient(to bottom, transparent, rgba(0,0,0,0.5));
      opacity: 0;
      will-change: opacity;
      transition: opacity 0s ease-in-out;
    }
  }
  &-inner {
    border-radius: 3px;
  }
  .carousel-control {
    fill: #fff;
    background-image: none;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translate(0);
    will-change:transform;
    transition:transform 0s ease-in;
    opacity: 1;
    &.left{
      transform: translate(-100%);
    }
    &.right{
      transform: translate(100%);
    }
    svg{
      height: 64px;
    }
  }
}

.container{
  width: 1300px;
  height: 1300px;
}

#gruoup1{
  position: absolute;
  top: 950px;
  left: -105px;
}

#gruoup2{
  position: absolute;
  top: 1270px;
  left: -105px;
}

.card{
  margin: 10px;
  width: 139px;
  height: 260px;
  background-color: rgba(255, 255, 255, 0.7);
}

a {
  outline: none;
  text-decoration: none;
  padding: 2px 1px 0;
  font-size: 1.3rem;
}

a:link {
  color: #fde18f;
}

a:visited {
  color: #f0bc2080
}

a:focus {
  border-bottom: 1px solid;
  background: #e0c77980;
}

a:hover {
  border-bottom: 1px solid;
  background: #eed895e0;
}
