<div class="container" *ngIf="currentUser; else loggedOut">
  <div class="card">
    <img id="fotoperfil" src="https://cdn-icons-png.flaticon.com/512/64/64572.png" class="card-img-top" alt="foto perfil">
    <div class="card-body">
      <h2>Profile</h2>
      <p><strong>Name: </strong> {{ currentUser.username }}</p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        <p><strong>Email: </strong> {{ currentUser.email }} </p>
      </li>
    </ul>
    <div class="card-body">
      <button id="editar" type="button" class="btn btn-dark">Editar perfil</button>
    </div>
  </div>
</div>

<ng-template #loggedOut>
  Please login.
</ng-template>