#container-login {
    height: auto;
    width: auto;
    display: flex;
    justify-content: center;
}

.back{
    position: relative;
    top: -35px; 
    left: 250px;
    color: #ffc001;
}

#name-login{
    position: relative;
    top: 25px; 
    left: 725px;
}

.card{
    height: 350px;
    width: 230px;
    border: 3px solid rgb(0, 0, 0);
    background-color: #0000002a;
    padding: 10px;
    margin: 10px;
}

.sizes {
    .p-inputtext {
        display: block;
        margin-bottom: .5rem;

        &:last-child {
            margin-bottom: 0;
        }
    }
}

.p-field * {
    display: block;
    padding: 10px;
}

button{
    position: relative;
    left: 55px;
    margin: 5px;
}
p{
    padding: 5px;
}

.register, .change{
    color: #e0a902;
}