<!-- Select cinema -->
<div class="container">
  <div class="row">
    <div class="col-3 p-3">
      <select class="form-select" aria-label="Select cinema">
        <option selected>Selecciona una provincia</option>
        <option value="1">Santa Cruz de Tenerife</option>
      </select>
    </div>

    <div class="col-3 p-3">
      <select class="form-select" aria-label="Select cinema">
        <option selected>Selecciona un cine</option>
        <option value="1">Los Realejos</option>
        <option value="2">Gran Sur</option>
      </select>
    </div>

    <div class="col-3 p-3">
      <button type="button" class="btn btn-dark">Cartelera</button>
    </div>
    
  </div>
</div>