<!-- Select cinema -->
<div id="seleccion" class="container">
  <div class="row">
    <div class="col-3 p-3">
      <select class="form-select" aria-label="Select cinema">
        <option selected>Selecciona una provincia</option>
        <option value="1">Santa Cruz de Tenerife</option>
      </select>
    </div>

    <div class="col-3 p-3">
      <select class="form-select" aria-label="Select cinema">
        <option selected>Selecciona un cine</option>
        <option value="1">Los Realejos</option>
        <option value="2">Gran Sur</option>
      </select>
    </div>

    <div class="col-3 p-3 form-group">
      <input type="text" class="form-control" placeholder="Date" bsDatepicker>
    </div>

    <div class="col-3 p-3">
      <button type="button" class="btn btn-dark">Cartelera</button>
    </div>
  </div>
</div>

<!-- Peliculas -->
<div class="card mb-3">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="https://es.web.img2.acsta.net/pictures/22/02/28/16/18/2106533.jpg" class="img-fluid rounded-start"  alt="..." width="139" height="203">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      </div>
        <button id="venta" type="button" class="btn btn-dark">Comprar</button>
    </div>
  </div>
</div>

<div class="card mb-3">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="https://es.web.img2.acsta.net/pictures/22/02/28/16/18/2106533.jpg" class="img-fluid rounded-start"  alt="..." width="139" height="203">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      </div>
      <button id="venta" type="button" class="btn btn-dark">Comprar</button>
    </div>
  </div>
</div>

<div class="card mb-3">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="https://es.web.img2.acsta.net/pictures/22/02/28/16/18/2106533.jpg" class="img-fluid rounded-start"  alt="..." width="139" height="203">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      </div>
      <button id="venta" type="button" class="btn btn-dark">Comprar</button>
    </div>
  </div>
</div>