/* You can add global styles to this file, and also import other style files */
body {
    margin: 0;
    background-color: #fde28f80;
}

.container {
    height: 130px;
    width: auto;
    background-color: #fdbf05ad;
}

h1 {
    position: relative;
    top: 40px;
    left: 30px;
}